.spending-breakdown__items {
  margin-top: 10px;
  .spending-breakdown__type {
    font-size: 14px;
  }
  .spending-breakdown__price {
    display: flex;
    justify-content: space-between;
    color: rgb(104, 104, 104);
    font-size: 12px;
    .spending-breakdown__line-background {
      width: 200px;
      height: 5px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.3);
      .spending-breakdown__line {
        width: 70%;
        height: 4px;
        border-radius: 5px;
        background-color: rgb(35, 191, 126);
      }
    }
  }
}