$font-color: rgb(225, 225, 227);
@mixin justify-content__space-between {
    display: flex;
    justify-content: space-between;
}
.home__upcoming-bills-month {
    width: 15%;
    width: 70px;
    background-color: rgb(40, 41, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: rgb(116, 116, 116);
    font-size: 12px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.bills {
    @include justify-content__space-between;
    margin-top: 12px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .bills__left {
        width: 80%;
        display: flex;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border-radius: 50%;
            object-fit: cover;
        }
        .bills__left-info {
            margin-left: 10px;
            div {
                color: $font-color;
                font-size: 14px;
            }
        
            .bills__date {
                color: rgb(116, 116, 116);
                font-size: 14px;
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }
    .bills__right {
        width: 60px;
        @include justify-content__space-between;
        align-items: center;
        font-size: 14px;
        color: $font-color;
        button {
            background-color: rgb(20, 20, 22);
            color: rgb(116, 116, 116);
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 12px;
        }
    }
}


@media screen and (max-width: 800px) {
    // .Bills__Left-Con {
    //     width: 60%;
    // }
    .bills {
        .bills__right {
            width: 15%;
        }
    }

    // .Bills {
    //     margin-top: 30px;
    //     font-size: 17px;
    // }
}