.history {
  width: 96%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  .history__transactions,
  .history__bills {
    width: 48%;
    header {
      border-bottom: none;
    }
  }
  .history__transactions-items,
  .history__bills-items {
    height: 94%;
  }
  .history__transactions-items-days-ago {
    border-top: 2px solid rgb(40, 41, 46);
  }
  .history__transactions-items-today,
  .history__transactions-items-yesterday {
    border-top: 2px solid rgb(40, 41, 46);
    padding-bottom: 10px;
  }
  .history__bills-items-month {
    height: 30%;
    border-top: 2px solid rgb(40, 41, 46);
    .scroll-con {
      height: 89%;
      overflow: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .history__transactions-date,
  .history__bills-items-date {
    width: 70px;
    background-color: rgb(40, 41, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: rgb(116, 116, 116);
    font-size: 12px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

@media screen and (max-width: 800px) {
  .history {
    flex-direction: column;
    align-items: center;
      .history__transactions,
      .history__bills {
        width: 100%;
      }
  }
}