.investing {
    background-color: rgb(24, 24, 24);
    width: 96%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.investing__left,
.investing__right  {
    width: 49%;
    height: 100%;
}

@media screen and (max-width: 1504px) {
    .investing {
        flex-direction: column;
        overflow: auto;
        width: 720px;
        // height: 1300px;
        .investing__left,
        .investing__right  {
            width: 70%;
            // height: 100%;
        }
    }

}