.transfer {
  .transfer__input-header {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(116, 116, 116);
    margin-left: 40px;
  }
  .transfer__input-form-con {
    position: relative;
    font-size: 12px;
    label {
      display: flex;
      justify-content: space-between;
      color: rgb(116, 116, 116);
      margin-top: 10px;
      // margin-left: 82px;
      margin-left: 17.5%;
      position: absolute;
      left: 0;
    }
  }
  .transfer__my-card-con {
    display: flex;
    justify-content: center;
    .transfer__my-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      outline: none;
      border: 2px solid rgb(40, 41, 46);
      width: 70%;
      height: 45px;
      border-radius: 10px;
      background-color: rgb(20, 20, 22);
      padding-left: 10px;
      padding-right: 10px;
      color: rgb(116, 116, 116);
      font-size: 12px;
      .transfer__my-card-info {
        p:last-child {
          color: rgb(225, 225, 227);
        }
      }
      img {
        height: 33px;
        border-radius: 3px;
        object-fit: cover;
      }
    }
  }

  .transfer__input-form {
    display: flex;
    justify-content: center;
    .transfer__input-first {
      margin-top: 5px;
      outline: none;
      border: 2px solid rgb(40, 41, 46);
      width: 70%;
      height: 45px;
      border-radius: 10px;
      background-color: rgb(20, 20, 22);
      padding-left: 10px;
      color: rgb(116, 116, 116);
      padding-top: 20px;
      &::placeholder {
        color: rgb(116, 116, 116);
      }
    }
  }
  .transfer__input-second {
    margin-top: 5px;
    outline: none;
    border: 1px solid rgb(40, 41, 46);
    width: 70%;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(20, 20, 22);
    padding-left: 10px;
    color: rgb(116, 116, 116);
    &::placeholder {
      color: rgb(116, 116, 116);
    }
  }
  .transfer__button-con {
    padding: 0px 40px 0px 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-top: 10px;
      width: 50%;
      font-size: 12px;
      color: rgb(116, 116, 116);
    }
    button {
      width: 40%;
      height: 40px;
      border-radius: 10px;
      background-color: rgb(48, 49, 53);
      color: rgb(116, 116, 116);
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
  .transfer__from-card,
  .transfer__transfers {
    display: flex;
    align-items: center;
    // margin-left: 40px;
    margin-left: 9%;
    width: 83%;
    border: 2px solid rgb(40, 41, 46);
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 40px;
    cursor: pointer;
    .transfer__icon-con {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgb(48, 49, 53);
      .transfer__icon {
        font-size: 20px;
        color: rgb(225, 225, 227);
      }
    }
    p {
      margin-left: 20px;
      font-size: 14px;
      color: rgb(225, 225, 227);
    }
  }
}

@media screen and (max-width: 1160px) {
  .transfer {
    .transfer__button-con {
      flex-direction: column;
      text-align: center;
      p {
        width: 100%;
      }
      button {
        width: 60%;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .transfer {
    .transfer__input-form-con {
        // .transfer__input-form 
        .transfer__input-first {

        // background-color: red;
        color: red;
        }

      // } 
    }

    .transfer__button-con {
      button {
        width: 40%;
        margin-top: 10px;
      }
    }
  }
}