@mixin align-items__center {
  display: flex;
  align-items: center;
}

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .register__form {
    width: 450px;
    height: 530px;
    border: 3px solid rgb(225, 225, 227);
    border-radius: 10px;
    color: rgb(225, 225, 227);
    box-shadow: 1px 1px 20px 10px rgb(73, 73, 73);
    .register__form-header {
      font-size: 60px;
      color: rgb(225, 225, 227);
      font-weight: bold;
      height: 100px;
      @include align-items__center;
      justify-content: center;
    }
    .register__input-form {
      height: 65%;
      padding: 10px;
      .register__name,
      .register__email,
      .register__password {
        padding: 10px;
        div {
          font-size: 14px;
        }
        .register__name-input,
        .register__email-input,
        .register__password-input {
          width: 100%;
          height: 45px;
          padding: 10px;
          margin-top: 10px;
          border: 2px solid rgb(225, 225, 227);
          border-radius: 10px;
          outline: none;
          color: rgb(225, 225, 227);
          font-size: 14px;
          background-color: rgb(20, 20, 22);
          &::placeholder {
            color: rgb(116, 116, 116);
          }
        }
      }
      .register__btn-con {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        button {
          width: 60%;
          height: 45px;
          cursor: pointer;
          border: none;
          background-color: rgb(20, 20, 22);
          outline: none;
          border: 2px solid rgb(225, 225, 227);
          border-radius: 10px;
          font-size: 18px;
          color: rgb(225, 225, 227);
        }
      }
    }
    .register__question {
      padding: 10px 0 20px 20px;
      font-size: 14px;
      margin-top: 20px;
      color: rgb(116, 116, 116);
      .register__login-link {
        color: rgb(225, 225, 227);
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .register {
    .register__form {
      width: 350px;
    }
  }
}